<div class="home-container">
  <!-- Header -->
  <header class="header">
    <h1 class="text-center">Sapioza</h1>
  </header>

  <!-- Bouton pour afficher le formulaire -->
  <!--<div class="form-button-container">
    <button class="form-toggle-btn" (click)="toggleForm()">
      <img src="/ecrire.png" alt="Add" class="icon" />
      Ajouter un article
    </button>
  </div>-->

  <!--<button (click)="submitExampleArticle()">aaaa</button>-->

  <!-- Formulaire de publication -->
  <form (ngSubmit)="publishArticle()">
    <label for="title">Titre :</label>
    <input id="title" type="text" [(ngModel)]="newArticle.metaData.title" name="title" required />

    <label for="authorId">ID Auteur :</label>
    <input id="authorId" type="number" [(ngModel)]="newArticle.metaData.authorId" name="authorId" required />

    <label for="field">Domaine :</label>
    <input id="field" type="text" [(ngModel)]="newArticle.metaData.field" name="field" />

    <label for="publishedIn">Publié dans :</label>
    <input id="publishedIn" type="text" [(ngModel)]="newArticle.metaData.publishedIn" name="publishedIn" />

    <label for="keywords">Mots-clés :</label>
    <input id="keywords" type="text" [(ngModel)]="newArticle.metaData.keywords" name="keywords" />

    <label for="abstract">Résumé :</label>
    <textarea id="abstract" [(ngModel)]="newArticle.metaData.abstract_" name="abstract"></textarea>

    <label for="DOI">DOI :</label>
    <input id="DOI" type="text" [(ngModel)]="newArticle.metaData.DOI" name="DOI" />

    <!--<button type="submit">Publier</button>-->

    <div class="submit-container">
      <button (click)="publishArticle()">Publier</button>
    </div>

  </form>




  <!-- Affichage des articles -->
  <!--<div class="articles-feed">
    <h2 class="feed-title">Articles récents</h2>
    <div class="feed-card">
      <div *ngFor="let article of articles; trackBy: trackById" class="author-articles">
        <h3 class="author-name">{{ article.authorName }}</h3>
        <ul class="article-list">
          <li class="article-item">
            <h4 class="article-title">{{ article.title }}</h4>
            <p class="article-content">{{ article.abstract }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>-->


</div>

